*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
body,html{
    height: 100%;
}
nav{
    color: white;
    background-color: black;
    height: 49px;
}
img{
    max-width: 100%;
}
.navbar-brand{
    font-family: 'Sarina', cursive;
}
.navbar-brand::first-letter{
    color:#02B3E2;
}
.navbar-brand span{
    color:#02B3E2;
}
.h250{
    height: 220px;
}
.nav-select{
    width: 125px;
    height: 26px;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 15px;
    text-align-last: center;
}
svg.svg-inline--fa.fa-user-circle.fa-w-16{
    height: 39px;
    width: 39px;
    color: white;
}
svg.svg-inline--fa {
    width: 32px;
    height: 32px;
    color:#BDBFC9;
}
a{
    color: white;
}
a:hover{
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #02B3E2;
}
.navbar-dark .navbar-brand {
    color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.sidebar{
    width: 3%;
    height: 115vh;
    top: 44px;
    left: 0px;
    box-shadow: 4px 3px 6px #00000029;
    opacity: 1;
}
.content{
    width: 95%;  
}
.box{
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    left: 60px;
    height: 250px;
    margin-top: 1rem;
}
.box-2{
    left: 60px;
    height: 530px;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
}
.box-3{
    height: 285px;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
}
.box-4{
    height: 220px;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    margin-left: -12px;
}
.box-6{
    height: 220px;
    opacity: 1;
}
.shadow{
    box-shadow: 0px 3px 6px #00000029;
}
.box-5{
    left: 65px;
    height: 530px;
    opacity: 1;
}
.h510{
    margin-top: 3rem;
    margin-bottom: 4.2rem;
}
.select-2{
    width: 212px;
    height: 26px;
    border: 1px solid #707070;
    border-radius: 12px;
    opacity: 1;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
#vol{
    top: 119px;
    left: 106px;
    width: 280px;
    opacity: 1;
    border: 1px solid #707070;
    border-radius: 6px;
    -webkit-appearance: none;
    background: transparent linear-gradient(90deg, #E53838 0%, #1EE61E 100%) 0% 0% no-repeat padding-box;
    margin-bottom: 1.325rem;
    margin-top: 1.325rem;
}
input[type='range']::-webkit-slider-thumb {
    width: 6px;
    -webkit-appearance: none;
    height: 12px;
    background: black;
    border-radius: 1px;
}
label{
    top: 80px;
    left: 100px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.heading{
    top: 323px;
    left: 88px;
    height: 24px;
    opacity: 1;
}
svg.svg-inline--fa.fa-cog.fa-w-16 {
    height: auto;
}
svg.svg-inline--fa.fa-external-link-alt.fa-w-16 {
    height: auto;
}
.col-md-3.box{
    margin-right: 1rem;
}
.col-md-4.box-2{
    margin-right: 1rem;
}
.col-md-6.box-6{
    margin-left: 1rem;
}
@media only screen and (max-width: 600px) {
    .sidebar{
        width:8%;
        height: 89vh;
    }
    .box-2 {
        left: 35px;
        height: 370px;
    }
    .col-md-4.box-2{
        margin-right: auto;
    }
    .col-md-2.box-2.mb-2 {
        height: 490px;
    }
    .h510{
        margin: auto;
    }
    .box-5 {
        left: 20px;
        height: 380px;
        opacity: 1;
        width: 110%;
    }
    .box-3{
        height: 165px;
    }
    .box-4{
        height: 150px;
    }
    .box-6{
        height: 150px;
    }
    .content{
        width: 75%;
    }
    .box{
        height: auto;
        left:35px;
    }
    .h250{
        height: auto;
    }
    .col-md-3.box{
        margin-right: auto;
    }
    .collapse.show {
        display: block;
        background-color: black;
        text-align: center;
        color: white;
        z-index: 999;
    }
    nav{
        background-color: black;
        box-shadow: 4px 3px 6px #00000029;
    }
    .navbar-dark .navbar-brand {
        color: white;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #02B3E2;
    }
    .navbar-toggler{
        border: none;
    }
    .col-md-12.shadow {
        height: 90px;
        width: 125%;
    }
    .col-md-6.box-6{
        margin-left: auto;
    }
}